@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  font-family: "Poppins";
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

.body-container {
  padding-right: 50px;
}

.heading-lrg {
  font-size: 44px;
  margin: 0 0 6px;
}

.heading-md {
  font-size: 28px;
  margin: 0 0 10px;
}

.heading-sm {
  font-size: 22px;
  font-weight: 500;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
  padding: 20px 0;
}

.items-container {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-item {
  padding-left: 30px;
}

.nav-item a span {
  position: relative;
  top: -2px;
}

.nav-item a:hover {
  color: orange;
}

.hero-section {
  background-color: #fff;
  background-image: url(../media/hero-bg.jpg);
  background-position: top -30% left 100%;
  background-repeat: no-repeat;
  background-size: calc(100%);
  padding: 170px 0 30px;
}

.hero-section-container {
  max-width: 1120px;
  margin: 0 auto;
}

.hero-section-header {
  margin-bottom: 30px;
}

.hero-section-header-content {
  color: #fff;
  margin-bottom: 30px;
}

.hero-section-header-slider {
  display: flex;
  align-items: center;
}

.slider-circle {
  background-color: orangered;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.slider-circle span {
  color: #fff;
  display: block;
  font-size: 24px;
  position: relative;
  left: 30%;
  top: 16%;
}

.slider-rectangle {
  background-color: #33333352;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 30px 6px 40px;
  position: relative;
  left: -30px;
}

.hero-section-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-cards .highlighted-card {
  background-color: orangered;
  border-radius: 4px;
  color: #fff;
  padding: 24px 36px 24px 24px;
  width: 35%;
}

.hero-section-cards .highlighted-card .card-heading {
  line-height: 1.4;
  margin-bottom: 30px;
}

.hero-section-card .card-heading {
  margin-bottom: 24px;
}

.card-button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card-button-container .card-button {
  background-color: rgba(255, 166, 0, 0.487);
  border: 0;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
}

.hero-section-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 2px rgba(128, 128, 128, 0.243);
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  width: 20%;
  text-align: center;
}

.hero-section .card-logo {
  margin-bottom: 20px;
}

.hero-section .card-logo svg {
  width: 30px;
  height: 30px;
}

.about-section {
  background-color: rgba(255, 192, 203, 0.154);
}

.about-section-container {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 0;
}

.about-section-image {
  width: 45%;
}

.about-section-image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.about-section-content {
  width: 55%;
  padding: 40px;
}

.about-section-content-header {
  margin-bottom: 40px;
}

.about-section-card {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}

.about-section-card-logo {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.about-section-card-logo svg {
  width: 30px;
  height: 30px;
}

.about-section-card-content {
  width: calc(100% - 70px);
  padding-left: 20px;
}

.client-section-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 0;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  height: 82px;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 20px 0;
  overflow: hidden;
}

.client {
  height: 60px;
  width: 15%;
}

.client img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.client-slider {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.client-slider-circle {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.client-slider-circle:nth-child(1) {
  background-color: orangered;
  margin-right: 6px;
}
.client-slider-circle:nth-child(2) {
  background-color: rgba(128, 128, 128, 0.373);
  margin-left: 6px;
}

.services-section {
  background-color: rgba(255, 192, 203, 0.154);
}

.services-section-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 60px 0;
}

.services-section-header {
  text-align: center;
}

.services-section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.services-section-card {
  background-color: #fff;
  box-shadow: 1px 1px 20px 2px rgba(128, 128, 128, 0.243);
  width: 30%;
  margin-top: 60px;
  text-align: center;
  padding: 0 30px 30px;
}

.services-card-logo {
  border: 6px solid #fff;
  background-color: orangered;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  position: relative;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
}

.services-card-logo svg {
  width: 30px;
  height: 30px;
}

.goals-section-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 60px 0;
}

.goals-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goals-card {
  border-radius: 4px;
  height: 300px;
  width: 49%;
  padding: 20px;
  position: relative;
}

.goals-card-content {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
}

.goals-card-content-header {
  text-align: center;
  margin-bottom: 20px;
}

.goals-card-content-block p {
  margin-bottom: 20px;
}

.goals-card-content-block button {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.goals-card:nth-child(1) {
  background-image: url(../media/values-1.jpg);
  margin-bottom: 20px;
}

.goals-card:nth-child(2) {
  background-image: url(../media/values-2.jpg);
}
.goals-card:nth-child(3) {
  background-image: url(../media/values-3.jpg);
}
.goals-card:nth-child(4) {
  background-image: url(../media/values-4.jpg);
}
